src/o/
lib/
*.o
src/.Forgefile*
src/tests/bin/
src/tests/o
*.cmd
*\.tmp_versions
*.mod.c
src/tests/kernel/*.ko
samples/*
*.obj
src/.vs/*
src/release/*
src/debug/*
src/x64/*
src/tests/.vs/*
src/tests/release/*
src/tests/debug/*
src/tests/x64/*
src/tests/kernel/kryptos-test.inf
src/tests/kernel/x64/*
